body {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-family: Arial, sans-serif;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #007bff;
}

.content {
  padding: 20px;
  height: 2000px;
}

main {
  margin: 0 20%;
}

footer {
  bottom: 0;
  margin-top: 100px;
  left: 0;
  width: 100%;
  text-align: center; /* Center the text horizontally */
  background-color: #f8f9fa; /* Optional: Add a background color */
  padding: 10px 0; /* Optional: Add some padding */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

article,
article * {
  margin: 0;
  padding: 0;
}

article {
  margin-bottom: 0.5em;
  padding: 10px 0;
}

article ul {
  padding: 0 30px;
}

.skills h4,
.skills progress,
.skills p {
  margin: 0;
}

.skills {
  margin-bottom: 25px;
  margin-left: 20px;
}

.no-margin {
  margin: 0;
}

.indentation {
  margin-left: 2.5em;
  margin-bottom: 2em;
}
